@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bovenste Verdieping</h1>
    <p>De beste makelaars voor uw huis</p>
</div>

@if( Model.topTenRealEstate != null ){
@foreach( KeyValuePair<int, Services.RealEstate> entry in Model.topTenRealEstate)
{
    <p>@entry.Value.name</p>
}
}