@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bovenste Verdieping</h1>
    <p>De beste makelaars voor uw huis <i>(door huizen te koop)</i></p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Naam</th>
      <th scope="col">Huizen te koop</th>
    </tr>
  </thead>
  <tbody id="table-rows">
    <tr id="table-row" style="display: none;">
      <td scope="row" class="id"></td>
      <td class="name"></td>
      <td class="houses"></td>
    </tr>
  </tbody>
</table>

<div class="text-center" id="loader">
    <div id="loading" class="spinner-border text-warning" role="status">
        <span class="sr-only">Bezig met laden...</span>
    </div>
    <p class="text-muted"><small><em>Bezig met laden...</em></small></p>
</div>

<div class="text-center" id="error" style="display: none">
    <p class="text-muted"><small><em>Fout. Probeer het later opnieuw. Dank je.</em></small></p>
</div>

<script type="text/javascript">
    var url = '/Index?handler=GetTopRealEstates';

    $(document).ready(() => {
        $.get(url, {}, (rentalEstates) => {
            if (rentalEstates && rentalEstates.length > 0) {
                for( let rentalEstate of rentalEstates ) {
                    var $row = $('#table-row').clone();
                    $row.find('.id').text(rentalEstate.value.id);
                    $row.find('.name').text(rentalEstate.value.name);
                    $row.find('.houses').text(rentalEstate.value.houses);
                    $row.show();
                    $row.appendTo('#table-rows');
                    $('#loader').hide();
                }
            }
        }).fail(function() {
            alert( "Er is een fout opgetreden bij het contacteren van de API-server. Probeer het later opnieuw. Dank je." );
            $('#loader').hide();
            $('#error').show();
        });
    });
</script>